
body { font-family: "Futura"; }
div { margin: 30px; }
svg { background-color: #eee; }
.axis path { fill: none; stroke: black; }
.axis line { stroke: black; }
.axis text { font-size: 10pt; }
path.outline { fill: none; stroke-width: 5; stroke: white; }
path.plot { fill: none; stroke-width: 3; }


svg .hist { margin: 20px;}
.bar rect { fill: #ccc; }
.axis text { font-size: x-small; }
.dullorange { fill: rgb(255, 167, 94); }